<!--
/*
** Copyright 2009, Li Wenhao
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.googlecode.apdfviewer" 
	android:versionCode="1"
      android:versionName="1.0" 
      android:icon="@drawable/pdf" android:sharedUserId="ch.ethz.ruediste.apdfviewer">

	<application android:label="@string/app_name" >
		<activity android:name="PDFViewerActivity" 
		android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar" 
			android:icon="@drawable/pdf"
			android:launchMode="singleInstance">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="com.bravo.intent.action.VIEW"/>				
				<data android:scheme="file" />
				<data android:scheme="content" />
				<data android:mimeType="application/pdf" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>

